@model List<Exercises.Models.Product>

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>MVC Exercises - Views Part 2: Models</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">List Layout</a></li>
            <li><a href="#">Tile Layout</a></li>
            <li><a href="#">Table Layout</a></li>
        </ul>

    </nav>

    <section id="main-content">

        <h2>Toy Department</h2>
        <div class="toy-list">

            @foreach (var product in Model)
            {
                    <div class="toy">
                        @{
                            var imagePath = "/Content/images/" + product.ImageName;
                            var starPath = "/Content/images/" + Math.Round(product.AverageRating, 0) + "-star.png";
                        }
                        <img class="product-image" src=@imagePath />
                        <div class="details">
                            <h3>
                                @product.Name 
                                @if (product.IsTopSeller)
                                {
                                    <span class="best-seller">BEST SELLER!</span>
                                }
                            </h3>
                            <p class="manufacturer">by @product.Manufacturer</p>
                            @if (product.RemainingStock < 5)
                            {
                                <p class="alert-remaining">Only @product.RemainingStock left!</p>
                            }
                            <p class="price">@product.Price.ToString("C")</p>
                            <p class="weight"><span class="bold">Weight</span> @product.WeightIbLbs lbs</p>

                            <img class="rating" src="@starPath" />


                        </div>
                        <hr />
                    </div>

            }

        </div>
    </section>
</body>
</html>
