@model Critter.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>

<div class="row">
    <div class="col-md-5">
        @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeHolder = "New Password" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeHolder = "New Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <button type="submit" class="btn btn-default">Change Password</button>
        }
    </div>
    <div class="col-md-9"></div>
</div>