@model Critter.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">

        @using (Html.BeginForm("Login", "Users", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "User Name" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
                @Html.ValidationMessage("invalid-login")
            </div>

            <button type="submit" class="btn btn-default">Login</button>
        }
    </div>
    <div class="col-sm-4"></div>
</div>