@model Dictionary<string, Exercises.Models.Recipe>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Recipe Table";
}

<h2>Recipes</h2>

<table class="recipe-table">
    <tr>
        <td></td>
        @foreach (var recipeKVP in Model)
        {
            var imagePath = "/Content/images/" + recipeKVP.Key + ".jpg";
            var starPath = "/Content/images/" + Math.Round(recipeKVP.Value.AverageRating, 0) + "-star.png";

            <td><a href="@Url.Action("Detail", "Recipe", new { id = recipeKVP.Key })"><img class="recipe-image" src="@imagePath" /></a></td>
        }
    </tr>
    <tr>
        <td>Name</td>
        @foreach (var recipeKVP in Model)
        {
            <td>@recipeKVP.Value.Name</td>
        }
    </tr>
    <tr>
        <td>Type</td>
        @foreach (var recipeKVP in Model)
        {
            <td>@recipeKVP.Value.RecipeType</td>
        }
    </tr>
    <tr>
        <td>Cook Time</td>
        @foreach (var recipeKVP in Model)
        {
            <td>@recipeKVP.Value.CookTimeInMinutes min</td>
        }
    </tr>
    <tr>
        <td>Ingredients</td>
        @foreach (var recipeKVP in Model)
        {
            <td>@recipeKVP.Value.Ingredients.Count ingredients</td>
        }
    </tr>
    <tr>
        <td>Rating</td>
        @foreach (var recipeKVP in Model)
        {
            var starPath = "/Content/images/" + Math.Round(recipeKVP.Value.AverageRating, 0) + "-star.png";
            <td><img src="@starPath" /></td>
        }
    </tr>
</table>

